# **Data preprocessing**

## **Import library**

In [258]:
import pandas as pd
import os

In [259]:
import warnings
warnings.filterwarnings('ignore')

## **ConcatData**

In [260]:
raw_data = pd.DataFrame()
for name in os.listdir("../data") :
    path = os.path.join("../data", name)
    data_per_year = pd.read_csv(path)
    raw_data = pd.concat([raw_data, data_per_year], ignore_index=True)

In [261]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201379 entries, 0 to 201378
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                201379 non-null  int64
 1   DEAD_YEAR(Budha)  201379 non-null  int64
 2   DEAD_YEAR         201379 non-null  int64
 3   Age               172665 non-null  float64
 4   Sex               197296 non-null  float64
 5   BirthYear         143663 non-null  float64
 6   NationalityId     107296 non-null  float64
 7   Tumbol            34258 non-null   object
 8   District          67358 non-null   object
 9   Province          67513 non-null   object
 10  RiskHelmet        4169 non-null    object
 11  RiskSafetyBelt    1441 non-null    object
 12  DeadDate          201379 non-null  object
 13  DateRec           95672 non-null   object
 14  TimeRec           95672 non-null   object
 15  AccSubDist        93787 non-null   object
 16  AccDist           94237 non-null   object
 17  AccProv           201374 non-null  object
 18  AccLat            92009 non-null   object
 19  AccLong           91990 non-null   object
 20  ICD-10            152304 non-null  object
 21  Vehicle           201379 non-null  object
 22  created_at        0 non-null       float64
 23  verify_date       0 non-null       float64
 24  created_by        0 non-null       float64
dtypes: float64(7), int64(3), object(15)
memory usage: 38.4+ MB

In [262]:
raw_data.head()

,id,DEAD_YEAR(Budha),DEAD_YEAR,Age,Sex,BirthYear,NationalityId,Tumbol,District,Province,...,AccSubDist,AccDist,AccProv,AccLat,AccLong,ICD-10,Vehicle,created_at,verify_date,created_by
0,8594771,2554,2011,21.0,1.0,1989.0,99.0,บึงสามพัน,บึงสามพัน,พช,...,บึงสามพัน,บึงสามพัน,เพชรบูรณ์,15.7941,101.007,V892,รถอื่นๆ,NaN,NaN,NaN
1,8594772,2554,2011,23.0,1.0,1987.0,99.0,พังกาญจน์,พนม,สฎ,...,พังกาญจน์,พนม,สุราษฎร์ธานี,8.91621,98.8904,V299,รถจักรยานยนต์,NaN,NaN,NaN
2,8594773,2554,2011,26.0,1.0,1984.0,99.0,จำปาโมง,บ้านผือ,อด,...,บ้านฉาง,บ้านฉาง,ระยอง,NaN,NaN,V234,รถจักรยานยนต์,NaN,NaN,NaN
3,8594774,2554,2011,16.0,1.0,1994.0,99.0,ปลักแรด,บางระกำ,พล,...,ปลักแรด,บางระกำ,พิษณุโลก,16.663,100.121,V429,รถยนต์,NaN,NaN,NaN
4,8594775,2554,2011,12.0,1.0,1998.0,99.0,ปลักแรด,บางระกำ,พล,...,ปลักแรด,บางระกำ,พิษณุโลก,16.663,100.121,V429,รถยนต์,NaN,NaN,NaN

## **Data Cleaning**

### Drop columns

In [287]:
data = raw_data.drop(['created_at','verify_date','created_by'], axis=1)
data.head()

,id,DEAD_YEAR(Budha),DEAD_YEAR,Age,Sex,BirthYear,NationalityId,Tumbol,District,Province,...,DeadDate,DateRec,TimeRec,AccSubDist,AccDist,AccProv,AccLat,AccLong,ICD-10,Vehicle
0,8594771,2554,2011,21.0,1.0,1989.0,99.0,บึงสามพัน,บึงสามพัน,พช,...,1/1/2011,1/1/2011,0:25:00,บึงสามพัน,บึงสามพัน,เพชรบูรณ์,15.7941,101.007,V892,รถอื่นๆ
1,8594772,2554,2011,23.0,1.0,1987.0,99.0,พังกาญจน์,พนม,สฎ,...,1/1/2011,1/1/2011,6:35:00,พังกาญจน์,พนม,สุราษฎร์ธานี,8.91621,98.8904,V299,รถจักรยานยนต์
2,8594773,2554,2011,26.0,1.0,1984.0,99.0,จำปาโมง,บ้านผือ,อด,...,1/1/2011,1/1/2011,19:00:00,บ้านฉาง,บ้านฉาง,ระยอง,NaN,NaN,V234,รถจักรยานยนต์
3,8594774,2554,2011,16.0,1.0,1994.0,99.0,ปลักแรด,บางระกำ,พล,...,1/1/2011,1/1/2011,2:00:00,ปลักแรด,บางระกำ,พิษณุโลก,16.663,100.121,V429,รถยนต์
4,8594775,2554,2011,12.0,1.0,1998.0,99.0,ปลักแรด,บางระกำ,พล,...,1/1/2011,1/1/2011,2:00:00,ปลักแรด,บางระกำ,พิษณุโลก,16.663,100.121,V429,รถยนต์

### Manipulate NA

In [290]:
# fill age with DEAD_YEAR - BirthYear
data['new_Age'] = data['DEAD_YEAR'] - data['BirthYear']
print(data[(data['new_Age'].notna()) & (data['Age'].isna())][['new_Age','Age']])

Empty DataFrame
Columns: [new_Age, Age]
Index: []

In [291]:
data['Age'] = data.apply(lambda x: x['new_Age'] if pd.isnull(x['Age']) else x['Age'], axis=1)

In [292]:
data = data[data['Age'] > 0]

In [293]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170841 entries, 0 to 201378
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                170841 non-null  int64
 1   DEAD_YEAR(Budha)  170841 non-null  int64
 2   DEAD_YEAR         170841 non-null  int64
 3   Age               170841 non-null  float64
 4   Sex               167543 non-null  float64
 5   BirthYear         141883 non-null  float64
 6   NationalityId     107115 non-null  float64
 7   Tumbol            25917 non-null   object
 8   District          56999 non-null   object
 9   Province          57105 non-null   object
 10  RiskHelmet        3704 non-null    object
 11  RiskSafetyBelt    1304 non-null    object
 12  DeadDate          170841 non-null  object
 13  DateRec           82924 non-null   object
 14  TimeRec           82924 non-null   object
 15  AccSubDist        81459 non-null   object
 16  AccDist           81760 non-null   object
 17  AccProv           170837 non-null  object
 18  AccLat            80591 non-null   object
 19  AccLong           80572 non-null   object
 20  ICD-10            152049 non-null  object
 21  Vehicle           170841 non-null  object
 22  new_Age           141883 non-null  float64
dtypes: float64(5), int64(3), object(15)
memory usage: 31.3+ MB

## Datetime data

In [253]:
data['DateRec'] = pd.to_datetime(data['DateRec'])
data['DeadDate'] = pd.to_datetime(data['DeadDate'])

In [254]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201379 entries, 0 to 201378
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                201379 non-null  int64
 1   DEAD_YEAR(Budha)  201379 non-null  int64
 2   DEAD_YEAR         201379 non-null  int64
 3   Age               172665 non-null  float64
 4   Sex               197296 non-null  float64
 5   BirthYear         143663 non-null  float64
 6   NationalityId     107296 non-null  float64
 7   Tumbol            34258 non-null   object
 8   District          67358 non-null   object
 9   Province          67513 non-null   object
 10  RiskHelmet        4169 non-null    object
 11  RiskSafetyBelt    1441 non-null    object
 12  DeadDate          201379 non-null  datetime64[ns]
 13  DateRec           95672 non-null   datetime64[ns]
 14  TimeRec           95672 non-null   object
 15  AccSubDist        93787 non-null   object
 16  AccDist           94237 non-null   object
 17  AccProv           201374 non-null  object
 18  AccLat            92009 non-null   object
 19  AccLong           91990 non-null   object
 20  ICD-10            152304 non-null  object
 21  Vehicle           201379 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(3), object(13)
memory usage: 33.8+ MB

In [294]:
# Export Data
data.to_csv("3bura_data.csv")